<%if(errorMessage){%>
    <div style="background-color: red;">
        <%=errorMessage%>
    </div>
    <%}%>
    
<div class="login">
    <div class="container3">
<form action="/login" method="post">
    <h1>LOGIN</h1>
   
        <label for="email">Email or Phone </label>
        <input type="text" name="email">
     
    
        <label for="password">Password </label>
        <input type="password" name="password">
      
       <input type="submit" value="Login">
</form>
</div>
</div>